.container {
  width: 100%;
  height: auto;
  background: red;
  text-align: center;
  box-shadow: -0.1px 0px 11.5px rgba(0, 0, 0, 0.018),
    1.3px 0px 26.7px rgba(0, 0, 0, 0.026), 4.7px 0px 48px rgba(0, 0, 0, 0.032),
    11.2px 0px 79.6px rgba(0, 0, 0, 0.038),
    22.9px 0px 131.2px rgba(0, 0, 0, 0.044),
    45.2px 0px 229.3px rgba(0, 0, 0, 0.052), 100px 0px 496px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 415px) {
  input {
    width: 90%;
    height: 38px;
    font-size: 22px;
    margin-top: 10px;
    box-shadow: 14px 31px 80px rgba(0, 0, 0, 0.93);
  }
  button {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    font-size: 23px;
    border-radius: 6px;
  }
  .ChildrenContainer {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
